<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-3">

  <!-- LEFT SIDE -->
  <div class="navbar-nav flex-row gap-3">

    <a class="nav-link fw-semibold" routerLink="/products">
      Products
    </a>

    <a class="nav-link fw-semibold" routerLink="/cart">
      Cart
    </a>

    <a class="nav-link fw-semibold" routerLink="/orders">
      Orders
    </a>

  </div>

  <!-- RIGHT SIDE -->
  <div class="ms-auto d-flex align-items-center gap-2">

    <!-- NOT LOGGED IN -->
    <ng-container *ngIf="!(user$ | async)">
      
      <a class="nav-link text-primary fw-semibold" routerLink="/login">
        Login
      </a>

      <span class="text-muted">|</span>

      <a class="nav-link text-primary fw-semibold" routerLink="/register">
        Register
      </a>

    </ng-container>

    <!-- LOGGED IN -->
    <!-- LOGGED IN -->
<ng-container *ngIf="user$ | async as user">
  <a class="nav-link fs-5 position-relative" routerLink="/cart"> 🛒 </a>

  <a class="nav-link fs-5" routerLink="/profile">👤</a> 
  <span class="nav-link fw-semibold text-dark">
    {{ user.fullName }}
  </span>

  <span class="text-muted">|</span>

  <a class="nav-link text-danger fw-semibold"
     style="cursor:pointer"
     (click)="logout()">
    Logout
  </a>

</ng-container>

  </div>

</nav>